/*
Theme Name: FurnApt
Description: Theme for LA Furnished Apartments
Version: 1.0
Author: WEBOSIS
*/

/**********************
* Reset.css 
**********************/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	margin:0;
	padding:0;
	border:0;
	outline:0;
	font-size:100%;
	vertical-align:baseline;
	background:transparent
}
body {
	line-height:1
}
ol, ul {
	list-style:none
}
blockquote, q {
	quotes:none
}
blockquote:before, blockquote:after, q:before, q:after {
	content:'';
	content:none
}
:focus {
	outline:0
}
ins {
	text-decoration:none
}
del {
	text-decoration:line-through
}
table {
	border-collapse:collapse;
	border-spacing:0
}


/**********************
* Typography
***********************/

@font-face {
 font-family: 'Titillium';
 src: url('http://www.furnapt.com/wp-content/themes/clearity/assets/fonts/TitilliumMaps26L.eot');
 src: url('http://www.furnapt.com/wp-content/themes/clearity/assets/fonts/TitilliumMaps26L.otf');
}
html {
	overflow: auto;
}
body {
	background: #eeeeee url(http://www.furnapt.com/wp-content/themes/clearity/img/bg.png) repeat-x;
	color: #666666;
	font-family: "Gill Sans", Verdana, sans-serif;
	font-size: 13px;
	line-height: 1.5;
}
a {
	color: #4B8099;
	font-weight: bold;
	text-decoration: underline;
}
a:hover {
	color: #333333;
	text-decoration: none;
}
a:active {
	position: relative;
	top: 1px;
	right: -1px;
}
em {
	color: #555;
	font-style: italic;
}
strong {
	font-weight: bold;
}
small {
	font-size: 0.72em;
}
p {
	margin-bottom: 9px;
}
h1, h1 a, h2, h2 a, h3, h3 a, h4, h4 a, h5, h5 a, h6, h6 a {
	color: #4b8099;
	font-family: Titillium, "Gill Sans", Calibri, "Trebuchet MS", sans-serif;
	font-weight: bold;
	line-height: 1.05;
}
h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover {
	color: #325666;
}
h1, h1 a {
	font-size: 36px;
	margin: 14px 0;
	text-decoration: none;
}
h2, h2 a {
	font-size: 28px;
	margin: 14px 0;
}
h3, h3 a {
	font-size: 24px;
	margin: 13px 0;
	color: #336666;
}
h4, h4 a {
	font-size: 20px;
	margin: 12px 0;
}
h5, h5 a {
	font-size: 18px;
	margin: 11px 0;
}
h6, h6 a {
	font-size: 16px;
	margin: 10px 0;
}
blockquote {
	background: #edf3d9 url(http://www.furnapt.com/wp-content/themes/clearity/img/quote-marks.png) no-repeat 10px 10px;
	border-left: 7px solid #ccd8a0;
	font-style: italic;
	padding: 15px;
	text-indent: 35px;
	margin-bottom: 15px;
}
ul li {
	background: url(http://www.furnapt.com/wp-content/themes/clearity/img/ul-item.gif) no-repeat 0px 3px;
	padding: 0 0 0 20px;
}
ul.checklist li {
	background: url(http://www.furnapt.com/wp-content/themes/clearity/img/check-bullet.png) no-repeat 0px 3px;
}
ul.blue li {
	background: url(http://www.furnapt.com/wp-content/themes/clearity/img/bullet-blue.png) no-repeat 0px 3px;
}
ul.green li {
	background: url(http://www.furnapt.com/wp-content/themes/clearity/img/bullet-green.png) no-repeat 0px 3px;
}
ul.red li {
	background: url(http://www.furnapt.com/wp-content/themes/clearity/img/bullet-red.png) no-repeat 0px 3px;
}
ul.orange li {
	background: url(http://www.furnapt.com/wp-content/themes/clearity/img/bullet-orange.png) no-repeat 0px 3px;
}
ul.black li {
	background: url(http://www.furnapt.com/wp-content/themes/clearity/img/bullet-black.png) no-repeat 0px 3px;
}
ul.purple li {
	background: url(http://www.furnapt.com/wp-content/themes/clearity/img/bullet-purple.png) no-repeat 0px 3px;
}
ul.yellow li {
	background: url(http://www.furnapt.com/wp-content/themes/clearity/img/bullet-yellow.png) no-repeat 0px 3px;
}
ul.star li {
	background: url(http://www.furnapt.com/wp-content/themes/clearity/img/bullet-star.png) no-repeat 0px 3px;
}
ul.link li {
	background: url(http://www.furnapt.com/wp-content/themes/clearity/img/bullet-link.png) no-repeat 0px 3px;
}
.hidden {
	display: none;
}
.alignright {
	float: right;
	margin: 10px 0px 10px 10px
}
.alignleft {
	float: left;
	margin: 10px 10px 10px 0px
}
.aligncenter {
	display: block;
	margin: 10px auto;
}


/************************
 * Layout
 ***********************/

.thumb {
	background: #ffffff;
	border: 1px solid #4b8099;
	display: block;
	float: left;
	margin: 5px 10px 10px 0;
	padding: 4px;
}
#wrap {
	margin: 30px auto 0;
	width: 968px;
}
div.col {
	display: inline;
	float: left;
	padding: 0 30px;
	position: relative;
}
div.col.first {
	padding-left: 0px;
}
div.col.last {
	padding-right: 0px;
}
div.col.span-1-2 {
	width: 420px;
}
div.col.span-1-3 {
	width: 260px;
}
div.col.span-2-3 {
	width: 580px;
}
div.col.span-1-4 {
	width: 180px;
}
div.col.span-2-4 {
	width: 420px;
}
div.col.span-3-4 {
	width: 660px;
}
div.col.span-1-1 {
	width: 900px;
}
.column1 {
	display: inline;
	float: left;
	padding: 0px 30px;
	overflow: hidden;
	width: 260px;
}
.column2 {
	display: inline;
	float: left;
	overflow: hidden;
	padding: 0px 30px;
	width: 580px;
}
.column3 {
	display: inline;
	float: left;
	overflow: hidden;
	padding: 0px 30px;
	width: 900px;
}
.button {
	background: #4b8099 url(http://www.furnapt.com/wp-content/themes/clearity/img/button-blue-bg.png) repeat-x;
	border: 1px solid #4b8099;
	color: #FFF;
	display: inline-block;
	line-height: 22px;
	margin: 3px 0px;
	padding: 0px 10px;
	text-decoration: none;
	text-transform: uppercase;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	text-shadow: 0px -1px 0px #4c4e4f;
}
.button:hover {
	background-position: 0px -22px;
	color: #9999ff;
	text-decoration: none;
}
.button.red {
	background: #de2c2c url(http://www.furnapt.com/wp-content/themes/clearity/img/button-red-bg.png) repeat-x;
	border-color: #de2c2c;
}
.button.red:hover {
	background-position: 0px -22px;
	color: #ff9999
}
.button.grey {
	background: #666 url(http://www.furnapt.com/wp-content/themes/clearity/img/button-grey-bg.png) repeat-x;
	border-color: #666;
}
.button.grey:hover {
	background-position: 0px -22px;
	color: #ccc;
}
.button.green {
	background: #38a230 url(http://www.furnapt.com/wp-content/themes/clearity/img/button-green-bg.png) repeat-x;
	border-color: #38a230;
}
.button.green:hover {
	background-position: 0px -22px;
	color: #99ff99;
}
div.box {
	background: #eee;
	border: 1px solid #999;
	padding: 10px 10px 1px 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	border-radius: 7px;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
}
div.box.warning {
	background: #ffff99 url(http://www.furnapt.com/wp-content/themes/clearity/img/box-icons/exclamation.png) no-repeat 5px center;
	border-color: #d6c772;
	padding-left: 42px;
}
div.box.download {
	background: #ccff99 url(http://www.furnapt.com/wp-content/themes/clearity/img/box-icons/archive.png) no-repeat 5px center;
	border-color: #99cc66;
	padding-left: 42px;
}
div.box.error {
	background: #ff3333 url(http://www.furnapt.com/wp-content/themes/clearity/img/box-icons/error.png) no-repeat 5px center;
	border-color: #ff0000;
	color: #fff;
	padding-left: 42px;
}
div.box.info {
	background: #99ccff url(http://www.furnapt.com/wp-content/themes/clearity/img/box-icons/info.png) no-repeat 5px center;
	border-color: #3399ff;
	color: #333;
	padding-left: 42px;
}
div.box.note {
	background: #fff url(http://www.furnapt.com/wp-content/themes/clearity/img/box-icons/note.png) no-repeat 5px center;
	border-color: #ccc;
	padding-left: 42px;
}
div.box.align-right {
	margin-left: 10px;
}
div.box.align-left {
	margin-right: 10px;
}
a.read-more {
	color: #336666;
	font-weight: bold;
	float: right;
}
a.read-more:before {
	content: "+ ";
	font-weight: bold;
	font-size: 13px;
}
#header {
	background: url(http://www.furnapt.com/wp-content/themes/clearity/img/header-bg.png) no-repeat;
	padding: 5px 4px 0px 4px;
	position: relative;
	margin-top: 15px;
	z-index: 5;
}
#header .container {
	margin: 15px 30px;
}
#logo {
	display: block;
	float: left;
	margin-right: 15px;
}
#header #title {
	font-family: Titillium, "Gill Sans", Calibri, "Trebuchet MS", sans-serif;
	font-weight: bold;
	line-height: 1.05;
	display: block;
	width: 400px;
	font-size: 32px;
}
#header #title a {
	font-family: Titillium, "Gill Sans", Calibri, "Trebuchet MS", sans-serif;
	font-weight: bold;
	line-height: 1.05;
	display: block;
	width: 400px;
	font-size: 32px;
	color: #4B8099;
	text-decoration: none;
}
#header #title a:hover {
	color: #4a6977;
}
#slogan {
	color: #616e33;
	text-shadow: 1px 1px 0px #ffffff;
}
#call-to-action {
	background: url(http://www.furnapt.com/wp-content/themes/clearity/img/call-to-action-left.png) no-repeat top left;
	color: #FFFFFF;
	display: block;
	font-weight: bold;
	font-size: 20px;
	line-height: 38px;
	height: 41px;
	position: absolute;
	top: 25px;
	right: 30px;
	text-shadow: 0px -1px 0px #336666;
	text-align: center;
	text-decoration: none;
	width: 250px;
}
#call-to-action:hover {
	background-position: 0 -41px;
}
.ie6 #call-to-action:hover {
	background-position: top left;
}
#call-to-action:active {
	position: absolute;
	top: 25px;
	right: 30px;
}
#call-to-action span {
	background: url(http://www.furnapt.com/wp-content/themes/clearity/img/call-to-action-right.png) no-repeat top right;
	display: block;
	height: 41px;
	margin-left: 40px;
	padding: 0px 10px;
	cursor: pointer;
}
#call-to-action:hover span {
	background-position: right -41px;
}
#nav {
	background: #616161 url(http://www.furnapt.com/wp-content/themes/clearity/img/nav-bg.png) repeat-x;
	border-top: 1px solid #666;
	height: 34px;
	clear: both;
}
#nav li {
	background: none;
	float: left;
	padding: 0;
	margin: 4px 0px 4px 10px;
	position: relative;
}
#nav li:hover, #nav li.hover {
	background: #4b8099;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
}
#nav li a {
	color: #FFFFFF;
	display: block;
	font-size: 12px;
	line-height: 24px;
	padding: 0px 18px;
	margin: 0px;
	text-shadow: 0px -1px 0px #474747;
	text-decoration: none;
}
#nav li:hover > a {
	color: #EEE;
	text-shadow: 0px 1px 0px #333;
}
#nav ul {
	display: none;
	background: #4b8099;
	margin: 0;
	padding: 10px 0;
	position: absolute;
	top: 22px;
	z-index: 10;
}
#nav ul li {
	display: block;
	float: none;
	margin: 0px;
	padding: 5px 0px;
	width: 200px;
	position: relative;
}
#nav ul li:hover {
	background: #416f85;
	border-radius: 0px;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
}
#nav ul ul {
	position: absolute;
	left: 170px;
	top: -10px;
}
#content {
	background: url(http://www.furnapt.com/wp-content/themes/clearity/img/content-bg.png) repeat-y;
	padding: 0px 4px;
	height: 1%;
	position: relative;
	z-index: 1;
}
#content:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
h1.page-title {
	background: #eee url(http://www.furnapt.com/wp-content/themes/clearity/img/page-title-bg.jpg);
	color:#365868;
	display: block;
	font-size: 48px;
	line-height: 1;
	padding: 20px 30px 10px 30px;
	margin: 0 0 30px 0;
	text-shadow:0 1px 0 #DDDDDD;
}
h1.page-title a {
	font-size: 48px;
	color:#365868;
	text-decoration: none;
}


/***************	
 * Homepage
 **************/

	#slider {
	height: 300px;
	overflow: hidden;
	position: relative;
	width: 100%;
}
#slider li {
	background: #eee url('http://www.furnapt.com/wp-content/themes/clearity/img/slide-bg.jpg') no-repeat;
	color: #fff;
	float: left;
	height: 280px;
	padding: 0;
	position: relative;
	padding: 10px 30px;
	overflow: visible;
	width: 900px;
}
#slider h3 {
	color: #365868;
	text-shadow: 0px 1px 0px #ddd;
}
#slider p {
	color: #111;
	text-shadow: 0px 1px 0px #ddd;
}
#slider li img {
	margin: 0 0 10px 0;
	box-shadow: 0px 1px 3px #333;
	-moz-box-shadow: 0px 1px 3px #333;
	-webkit-box-shadow: 0px 1px 3px #333;
}
#slider-control {
	background: #666;
	background: rgba(0, 0, 0, 0.5);
	bottom: 10px;
	display: none;
	left: 0;
	height: 20px;
	margin: 0px 10px;
	position: absolute;
	width: 940px;
	z-index: 999;
}
#slider-pager {
	float: right;
	margin-right: 30px;
}
#slider-pager a {
	color: #ccc;
	font-size: 24px;
	line-height: 18px;
	padding: 0pc 8px;
	text-decoration: none;
}
#slider-pager a:hover {
	text-decoration: none;
}
#slider-pager a.activeSlide {
	color:	#FFF;
}
#cta-bar {
	border-bottom: 1px solid #dbdbdb;
	margin-bottom: 20px;
	height: 1%;
}
#cta-bar:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
#cta-bar .item {
	background: url(http://www.furnapt.com/wp-content/themes/clearity/img/cta-bar-bg.png) repeat-x;
	border-left: 1px solid #dbdbdb;
	border-right: 1px solid #ffffff;
	float: left;
	margin: 0 -1px;
	padding: 10px 30px;
	width: 260px;
}
#cta-bar .item:hover {
	background: url(http://www.furnapt.com/wp-content/themes/clearity/img/cta-bar-hover-bg.png) repeat-x;
}
#cta-bar .item.first {
	border-left: 0;
	margin-left: 0;
}
#cta-bar .item.last {
	border-right: 0;
}
#cta-bar a {
	text-decoration: none;
}
#cta-bar .icon {
	float: left;
	margin-right: 10px;
}
#cta-bar .title {
	color: #4b8099;
	display: block;
	font-weight: bold;
	font-size: 18px;
	line-height: 1.05;
	margin-top: 5px;
	text-shadow: 0px 1px 0px #fff;
}
#cta-bar .description {
	font-weight: normal;
	line-height: 0.5;
}
#cta-bar .item.sidebar {
	margin: 0;
	margin-left: -30px;
	border-left: 0;
	border-top: 1px solid #dbdbdb;
}
#cta-bar .item.sidebar.last {
	margin-bottom: -1px;
	border-bottom: 1px solid #dbdbdb;
}
.posts-feed {
}
.posts-feed li {
	background: none;
	padding: 0;
	margin-bottom: 10px;
}
.posts-feed a {
	font-weight: normal;
	text-shadow: none;
}
.posts-feed .date {
	font-size: 10px;
	margin-right: 10px;
}
.posts-feed .meta {
	font-size: 9px;
}
#main {
	margin: -10px 0 1px 0;
}


/**********************
 * Portfolio
 *********************/

#portfolio {
}
#portfolio .item {
	display: inline;
	float: left;
	padding: 0px 30px;
	margin-bottom: 60px;
	position: relative;
	width: 260px;
}
#portfolio .thumb {
	border: 1px solid #999;
	display: block;
	height: 150px;
	margin: 0 -1px;
	width: 260px;
}
#portfolio .meta {
	background: url(http://www.furnapt.com/wp-content/themes/clearity/img/portfolio-meta-bg.png) no-repeat center center;
	cursor: default;
	font-size: 12px;
	position: absolute;
	left: 24px;
	height: 130px;
	margin: 1px;
	padding: 10px;
	top: 0px;
	width: 250px;
}
#portfolio .item h3, #portfolio .item h3 a {
	color: #fff;
	font-size: 21px;
	line-height: 21px;
	margin: 5px 0;
	text-align: center;
	text-decoration: none;
}
#portfolio .meta a.more {
	display: block;
	height: 100px;
	margin: 0px auto;
	width: 100px;
	text-indent: -9999px;
}
#portfolio .meta a.more.image {
	background: url(http://www.furnapt.com/wp-content/themes/clearity/img/portfolio-item-zoom.png) no-repeat center center;
}
#portfolio .meta a.more.external {
	background: url(http://www.furnapt.com/wp-content/themes/clearity/img/portfolio-item-ecternal.png) no-repeat center center;
}
#portfolio .meta a.more.internal {
	background: url(http://www.furnapt.com/wp-content/themes/clearity/img/portfolio-item-internal.png) no-repeat center center;
}


/**********************
 * Blog
 *********************/

#blog {
}
.blog-post {
	float: left;
	margin: 10px 0 30px 0;
}
.blog-post .thumb {
	background: #ffffff;
	border: 1px solid #4b8099;
	display: block;
	float: right;
	margin: 0 0 10px 10px;
	padding: 4px;
}
.blog-post.excerpt .thumb {
	float: left;
	margin: 15px 10px 10px 0;
}
.blog-post .meta {
	color: #68792c;
	background: #cfd2a3;
	display: inline-block;
	margin-bottom: 10px;
	padding: 0 5px;
	text-shadow: 0px 1px 0px #e2e5c5;
	width: 550px;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}
.blog-post .meta a {
	color: #68792c;
	font-weight: normal;
}
.blog-post .meta span {
	display: block;
	float: left;
	padding: 0 18px 0 18px;
	line-height: 23px;
}
.blog-post .meta .date {
	background: url(http://www.furnapt.com/wp-content/themes/clearity/img/icon-date.png) no-repeat left center;
}
.blog-post .meta .category {
	background: url(http://www.furnapt.com/wp-content/themes/clearity/img/icon-category.png) no-repeat left center;
}
.blog-post .meta .comments {
	background: url(http://www.furnapt.com/wp-content/themes/clearity/img/icon-comments.png) no-repeat left center;
}
.blog-post.excerpt .post-content {
	float: left;
	width: 560px;
}
.comments {
}
.comment {
	float: left;
	overflow: visible;
	margin: 0 0 30px 0;
	width: 100%;
}
.comment .meta {
	background: #cfd2a3;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}
.comment.admin .meta {
	background: #4b8099;
}
.comment .meta span {
	color: #5f614c;
	line-height: 25px;
	text-shadow: 0 1px 0 #e2e6b3;
}
.comment.admin .meta span {
	color: #78cdf5;
	text-shadow: 0 -1px 0 #2f5161;
}
.comment .meta .order {
	color: #ffffff;
	font-size: 18px;
	font-weight: bold;
	float: left;
	padding: 0 6px 0 4px;
	text-shadow: 0px 1px 1px #888a6b;
}
.comment .meta .avatar {
	background: #ffffff;
	border: 2px solid #cfd2a3;
	float: left;
	padding: 2px;
	margin: 8px 0 0 0;
	vertical-align:top;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}
.comment.admin .meta .avatar {
	border: 2px solid #4b8099;
}
.comment .meta .author {
	font-size: 18px;
	margin-left: 15px;
}
.comment .meta .author a {
	color: #5f614c;
}
.comment.admin .meta .author a {
	color: #ffffff;
}
.comment .meta .time {
	float: right;
	padding: 0 6px 0 4px;
}
.comment .content {
	padding: 8px;
	margin: 10px 0 0 120px;
}
.comment .content blockquote {
	background-image: none;
	border-left: 3px solid #CCD8A0;
	padding: 9px 9px 1px 9px;
	text-indent: 0;
}


/**********************
 * Comment form
 *********************/

#commentform p {
	text-indent: 0;
	margin: 0;
}
#commentform label {
	clear: both;
	display: block;
	float: left;
	margin-top: 15px;
	width: 290px;
}
#commentform input {
	display: block;
	margin-bottom: 10px;
	float: left;
}
#commentform input.text {
	background: url(http://www.furnapt.com/wp-content/themes/clearity/img/comments-input-text-bg.png) no-repeat 0 0;
	border: 0;
	height: 17px;
	margin: 0;
	padding: 4px;
	width: 290px
}
#commentform input.text:focus {
	background-position: 0 -26px;
}
#commentform textarea {
	background: url(http://www.furnapt.com/wp-content/themes/clearity/img/comments-form-message-bg.png) no-repeat;
	border: 0;
	height: 138px;
	padding: 6px;
	width: 568px;
}
#commentform #submit {
	background: url(http://www.furnapt.com/wp-content/themes/clearity/img/comments-form-submit.png) no-repeat;
	border: 0;
	color: #b0b0b0;
	font-size: 15px;
	font-weight: bold;
	height: 30px;
	margin-top: 0px;
	text-shadow: 0 1px 0 #ffffff;
	width: 580px;
}
#commentform span.info {
	float: left;
	line-height: 24px;
}


/**********************
 * Price table
 *********************/
 
#prices {
	width: 100%;
}
#prices td {
	border-bottom: 1px solid #ddd;
	color: #8b9e46;
	font-size: 12px;
	padding: 5px 10px;
	vertical-align: middle;
}
#prices th {
	border-bottom: 1px solid #ddd;
	font-size: 15px;
	font-weight: bolder;
	padding: 10px 5px;
	text-shadow: 1px 1px 0px #fff;
}
#prices th .button {
	font-size: 13px;
	float: none;
}
#prices .labels {
	width: 26%;
}
#prices col {
	width: 37%;
}
#prices col.em {
	background: #ffffaa;
}
#prices .label {
	color: #666;
	text-align: left;
}
#prices .subhead td {
	border-bottom: 3px solid #ddd;
	font-weight: bold;
}
#prices .subhead small {
	color: #666;
}


/**********************
 * Sidebar & widgets
 *********************/

#sidebar {
	border-left: 1px solid #ddd;
	color: #777777;	
	margin-left: -1px;
	padding-bottom: 5px;
	font-size: 11px;
}
#sidebar a, #footer-widgets a {
	text-decoration: none;
}
#sidebar a:hover {
	color:#8a9d45;
}
#sidebar li, #footer-widgets li {
	background: none;
	padding: 0;
}
#sidebar li.widget {
	background: none;
	margin-bottom: 20px;
	padding: 0;
}
#sidebar ul li {
	padding: 0px 0px 5px 10px;
}
#sidebar h4, #sidebar h4 a, #footer-widgets h4, #footer-widgets h4 a {
	color: #8b9e46;
	font-family: "Gill Sans", Calibri, "Trebuchet MS", sans-serif;
	font-size: 20px;
	margin: 0 0 10px 0;
}
.widget h4 {
	font-size: 18px;
	margin: 6px 0px;
	text-shadow: none;
}


/************************
 * Widgets
 ***********************/
 
#testemonial-widget blockquote {
	background: #fff url(http://www.furnapt.com/wp-content/themes/clearity/img/testemonial-bg.png) no-repeat;
	border: 0;
	font-style: italic;
	line-height: 20px;
	padding: 0;
}
#testemonial-widget p {
	padding: 41px 20px 1px 20px;
}
#testemonial-widget .by-line {
	background: url(http://www.furnapt.com/wp-content/themes/clearity/img/testemonial-bottom-bg.png) no-repeat;
	color: #8b9e46;
	height: 24px;
	margin-top: -9px;
	padding: 7px 25px;
	text-align: right;
}
.ie6 #testemonial-widget .by-line {
	margin-top: 0px;
}


/**********************
 * Footer
 **********************/

#footer-widgets {
	background: url(http://www.furnapt.com/wp-content/themes/clearity/img/footer-shade.png) no-repeat 0px 1px;
	border-top: 1px solid #dddddd;
	float: left;
	list-style: none;
	padding-top: 20px;
	margin: 25px 0;
	width: 960px;
}
#footer-widgets .widget {
	float: left;
	padding: 0 30px;
	width: 260px;
}
#footer-widgets h4 {
	line-height: 18px;
	margin-bottom: 9px;
}
#footer-widgets ul li {
	background: transparent url(http://www.furnapt.com/wp-content/themes/clearity/img/sidebar-bullet.gif) no-repeat scroll 3px center;
	padding: 5px 16px;
	border-bottom: 1px solid #eeeeee;
}
#footer-widgets ul li:hover {
	background:url(http://www.furnapt.com/wp-content/themes/clearity/img/sidebar-bullet-hover.gif) no-repeat 3px center;
}
#newsletter-address {
	background: url(http://www.furnapt.com/wp-content/themes/clearity/img/newsletter-input.png) no-repeat left top;
	border: 0;
	color: #666666;
	display: block;
	float: left;
	height: 16px;
	padding: 5px;
	width: 180px;
}
#newsletter-submit {
	background: url(http://www.furnapt.com/wp-content/themes/clearity/img/newsletter-submit.png) no-repeat left top;
	border: 0;
	color: #8b9e46;
	display: block;
	font-size: 11px;
	font-weight: bold;
	float: left;
	height: 26px;
	padding: 2px;
	text-shadow: 0px 1px 0px #ffffff;
	width: 65px;
}
#twitter {
	position: relative;
}
#twitter ul li {
	background: none;
	border: 0;
	padding: 5px 0;
}
#twitter ul li:hover {
	background: none;
}
#twitt-bubble {
	background: url(http://www.furnapt.com/wp-content/themes/clearity/img/twitt-bubble.png) no-repeat;
	font-size: 11px;
	height: 150px;
	padding-top: 5px;
	width: 260px;
}
#twitt-bubble ul {
	background: #fff;
	margin: 0px 10px;
	width: 240px;
}
#twitt-nav {
	position: absolute;
	right: 45px;
	bottom: 10px;
	height: 16px;
	width: 28px;
}
#twitt-nav .prev {
	background: url(http://www.furnapt.com/wp-content/themes/clearity/img/twitt-arr-left.png) no-repeat;
	float: left;
	height:14px;
	text-indent: -9999px;
	width: 9px;
}
#twitt-nav .next {
	background: url(http://www.furnapt.com/wp-content/themes/clearity/img/twitt-arr-right.png) no-repeat;
	float: right;
	height:14px;
	text-indent: -9999px;
	width: 9px;
}
#footer {
	background: url(http://www.furnapt.com/wp-content/themes/clearity/img/footer-bg.png) no-repeat;
	height: 35px;
	margin: 0 auto 20px;
	padding: 5px 30px;
	width: 908px;
}
#footer .nav li {
	background: none;
	float: left;
	padding: 0 20px 0 0;
}
#footer li a {
	display: block;
	font-size: 11px;
	padding: 5px 5px 5px 0px;
	text-decoration: none;
}
#copyright {
	display: block;
	font-size: 11px;
	float: right;
	padding: 5px 10px 5px 0px;
}


/**********************
 * Top Bar
 **********************/

#topbar {
	width: 100%;
	position: absolute;
	top: 0;
	border-top: 3px solid #00aa00;
	text-align: right;
}
#topbar li {
	list-style: none;
}
#topbar a {
	color: #ffffff;
	font: bold 11px arial;
	background: #00aa00;
	text-decoration: none;
	padding: 5px;
	margin-right: 10px;
}
#topbar a:hover {
	background: #00cc00;
}

/**********************
 * Locations
 **********************/

 .locations {
	height: 150px;
}
.locations img {
	background: #ffffff;
	border: 1px solid #4b8099;
	display: block;
	margin: 5px 10px 10px 0;
	padding: 4px;
}

.clientele img {
	background: #ffffff;
	border: 1px solid #4b8099;
	display: block;
	margin: 5px 10px 10px 0;
	padding: 4px;
}


/**********************
 * Social Icons
 **********************/

.socialicon a {
	width: 120px;
	height: 50px;
	margin: 5px;
	display: block;
}
.socialicon a:hover {
	background-position: 0px -50px;
}
a.twitter {
	background:url(http://www.furnapt.com/wp-content/themes/clearity/img/twitter.png);
}
a.facebook {
	background:url(http://www.furnapt.com/wp-content/themes/clearity/img/facebook.png);
}
.gchoice_5_0{
	float: left !important;
}
.gchoice_5_1{
	float: left !important;
}
.gchoice_5_3{
	float: left !important;
}
.gchoice_6_0{
	float: left !important;
}
.gchoice_6_1{
	float: left !important;
}
.gchoice_6_2{
	float: left !important;
}